<!-- tech 10000lab top Auto Size -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="{{ site.google_adsense.id }}"
     data-ad-slot="7422116330"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- blog.tinkhub.com Fixed Size -->
<!--<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="{{ site.google_adsense.id }}"
     data-ad-slot="5205544350"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>-->
